@import "../../global.scss";

// Background //
.container {
    position: "absolute";
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('../../static/images/background.jpg');
}

// Background //

.content {
    @include Center();
    height: 100%;

    // Welcome //
    h1 {
        position: absolute;
        top: 25vh;
        font-size: 8rem;
        font-family: 'Leckerli';
        font-weight: 100;
        color: #fff;
        transition: all ease-in-out 0.5s;
        text-align: center;
    }

    // Welcome //

    // Text //
    h3 {
        font-size: 3rem;
        font-family: 'Cabin';
        font-weight: 100;
        color: #fff;
        margin: 10px;
        transition: all ease-in-out 0.5s;
        text-align: center;
    }

    // Text //

    // Text Group //
    #h3Group {
        margin-top: 100px;
    }

    // Text Group //

    // Hide or Show Text //
    #hide {
        background-color: transparent;
        font-family: 'Cabin';
        font-size: 2rem;
        border: none;
        margin-top: 100px;
        text-transform: uppercase;
        cursor: pointer;
        color: #fff;
        transition: all ease-in-out 0.3s;
        padding: 10px;

        &:hover {
            transform: scale(1.1);
        }
    }

    // Hide or Show Text //

    // Responsividade //
    @media (max-width:1024px) {
        h1 {
            font-size: 6rem;
        }

        h3 {
            font-size: 1.5rem;
        }
    }

    // Responsividade //
}